/* 42 KEY MATRIX / LAYOUT MAPPING

  ╭─────────────────────────┬─────────────────────────╮
  │  1   2   3   4   5   6  │   7   8   9  10  11  12 │
  │ 13  14  15  16  17  18  │  19  20  21  22  23  24 │
  │ 25  26  27  28  29  30  │  31  32  33  34  35  36 │
  ╰───────────╮ 37  38  39  │  40  41  42 ╭───────────╯
              ╰─────────────┴─────────────╯

  ╭─────────────────────────┬─────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────┴─────────────╯

  ╭─────────────────────────┬─────────────────────────╮
  │ ESC  Q   W   E   R   T  │  Y   U   I   O   P   -  │
  │ TAB  A   S   D   F   G  │  H   J   K   L   ;   '  │
  │ SFT  Z   X   C   V   B  │  N   M   ,   .   /   \  │
  ╰───────────╮ 37  38  39  │  40  41  42 ╭───────────╯
              ╰─────────────┴─────────────╯

*/

#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi> // requires auto-layer module
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include "zmk-helpers/helper.h"

#ifdef CONFIG_WIRELESS
    #include <dt-bindings/zmk/bt.h>
    #define _BT_SEL_KEYS_ &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
#else
    #define _BT_SEL_KEYS_ &none &none &none &none &none &none
#endif

#ifdef CONFIG_RGB
    #include <dt-bindings/zmk/rgb.h>
    #define _RGB_HOME_ &rgb_ug RGB_BRD &rgb_ug RGB_BRI &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI
    #define _RGB_BOTTOM_ &out OUT_TOG &out OUT_BLE &rgb_ug RGB_TOG &rgb_ug RGB_EFF &none
#else
    #define _RGB_HOME_ &none &none &none &none &none &none
    #define _RGB_BOTTOM_ &none &none &none &none &none
#endif

#define TOP_FN &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
#define BOTTOM_FN &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
#define DEF_THUMB_ROW X_LT &kp LGUI LS_TAB &kp SPACE NAV_SPC SMART_NUM SMART_MOUSE X_RT
#define NON_DEF_THUMB_ROW X_LT ___ ___ ___ &kp SPACE ___ ___ X_RT

#define DEF 0
#define NAV 1
#define NUM 2
#define MOUSE 3

#include "mouse.dtsi"
#include "extra_keys.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include "custom.dtsi"
#include "combos.dtsi"

#define XXX &none
#define ___ &trans

/* Keymap ----------------------------------------------------------------------------------------------------------- */

#define LMOD_ROW &kp LSHFT &kp LCTRL &kp LALT
#define LS_TAB &mt LSHFT TAB
#define NAV_SPC &lt_spc NAV 0


ZMK_LAYER(default,

                                                                                          X_TOP
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T                     &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    CANCEL        &kp A         HRML(S,       D,            F)            &kp G                     &kp H         HRMR(J,       K,            L,            SEMI)         &kp APOS
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &caps_word    &kp Z         &kp X         &kp C         &kp V         &kp B           X_ENC     &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp BSLH
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                                                      DEF_THUMB_ROW
)

ZMK_LAYER(navigate,
                                                                                          X_TOP
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           WIN_CLOSE     MUTE          VOL_U         PAUSE         ___                       &kp PG_UP     C_BSPC        NAV_U         C_DEL         U_CL_F        ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           FORMAT        PREV          VOL_D         NEXT          ___                       &kp PG_DN     NAV_L         NAV_D         NAV_R         U_CL_B        ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___           ___             X_ENC     NEXT_APP      &kp RET       PREV_WIN      NEXT_WIN      ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                                                    NON_DEF_THUMB_ROW
)

ZMK_LAYER(number,
                                                                                          X_TOP
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                    &kp N6        &kp N7        &kp N8        &nine         &zero         &kp EQUAL
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___                         LMOD_ROW                    ___                       ___           ___           ___           ___           ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___           ___             X_ENC     ___           &kp RET       ___           ___           ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                X_LT          ___           ___           ___                       ___           &tog NUM      ___           X_RT
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰───────╯ ╰─────────────╰─────────────┴─────────────╯
)

ZMK_LAYER(mouse,
                                                                                          X_TOP
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                     _BT_SEL_KEYS_                                                  U_WH_U        U_CL_L        U_MS_U        U_CL_R        U_CL_F        ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                       _RGB_HOME_                                                   U_WH_D        U_MS_L        U_MS_D        U_MS_R        U_CL_B        ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                      _RGB_BOTTOM_                        &bootloader     X_ENC     &bootloader   &kp RET       U_WH_L        U_WH_R        ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├───────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                                                    NON_DEF_THUMB_ROW
)
